<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cxf_java_jax_ws_01/src/com/cc/cxf01/Service/P01_Service_HelloWordProvider.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cc.cxf01.Service.P01_Service_HelloWordProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cxf_java_jax_ws_01"/>
</launchConfiguration>
